<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CreatNoteApiSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NoteBookLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2030B4661BFF1CD700C96C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2089CC4E1BFF12C500B80E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2089CC591BFF12C500B80E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
